In [24]:
import pandas as pd
df = pd.read_csv('../../CSVs/match_data2.csv', low_memory=False)
df

,match_id,player_id,player_name,runs_scored,balls_faced,no_of_fours,no_of_sixes,no_of_catches,runouts,no_of_wickets,balls_bowled,dot_balls,wickets,runs_conceded,stumpings,out,date,venue,match_type,gender
0,1000851,864c199e,AC Voges,28,72,4,0,2,0,0,30,21,0,8,0,out,2016-11-03,Western Australia Cricket Association Ground,Test,male
1,1000851,685d3f80,AJ Pycroft,0,0,0,0,0,0,0,0,0,0,0,0,DNB,2016-11-03,Western Australia Cricket Association Ground,Test,male
2,1000851,f02778d1,Aleem Dar,0,0,0,0,0,0,0,0,0,0,0,0,DNB,2016-11-03,Western Australia Cricket Association Ground,Test,male
3,1000851,33085ffb,D Elgar,139,338,19,1,2,0,0,0,0,0,0,0,out,2016-11-03,Western Australia Cricket Association Ground,Test,male
4,1000851,dcce6f09,DA Warner,132,133,22,1,1,0,0,0,0,0,0,0,out,2016-11-03,Western Australia Cricket Association Ground,Test,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464509,wi_212064,92cf79a8,SR Taylor,44,57,5,0,0,0,0,24,13,0,22,0,out,2022-06-25,"Guyana National Stadium, Providence",ODM,female
464510,wi_212064,771370b0,Shai Carrington,0,0,0,0,0,0,0,0,0,0,0,0,DNB,2022-06-25,"Guyana National Stadium, Providence",ODM,female
464511,wi_212064,41fd2907,T Holder,0,0,0,0,0,0,0,0,0,0,0,0,DNB,2022-06-25,"Guyana National Stadium, Providence",ODM,female
464512,wi_212064,7ca6154f,TR Sanford,5,3,1,0,0,0,0,0,0,0,0,0,out,2022-06-25,"Guyana National Stadium, Providence",ODM,female
464513,wi_212064,2c41bdab,VN Watts,1,2,0,0,0,0,0,28,15,0,20,0,not out,2022-06-25,"Guyana National Stadium, Providence",ODM,female

In [25]:
df['player_id']

0         864c199e
1         685d3f80
2         f02778d1
3         33085ffb
4         dcce6f09
            ...
464509    92cf79a8
464510    771370b0
464511    41fd2907
464512    7ca6154f
464513    2c41bdab
Name: player_id, Length: 464514, dtype: object

In [ ]:
# Check the data types of all values in the player_id column
non_string_ids = df[df['player_id'].apply(lambda x: not isinstance(x, str))]

# Print the rows where player_id is not a string
# print(non_string_ids)

# Count how many rows have non-string player_id
print(f"Number of non-string player_ids: {len(non_string_ids)}")

Number of non-string player_ids: 0

In [29]:
# Filter rows where player_name is "JR Hopes"
jr_hopes_rows = df[df['player_name'] == 'JR Hopes']

# Display the filtered rows
print(jr_hopes_rows)

# Count the number of rows with player_name as "JR Hopes"
print(f"Number of rows where player_name is JR Hopes: {len(jr_hopes_rows)}")

       match_id player_id player_name  runs_scored  balls_faced  no_of_fours  \
326745   211048  2498e163    JR Hopes            0            0            0
328702   226374  2498e163    JR Hopes           17           20            2
328732   226375  2498e163    JR Hopes            0            0            0
328762   226376  2498e163    JR Hopes           38           47            1
328789   226377  2498e163    JR Hopes            0            0            0
...         ...       ...         ...          ...          ...          ...
441642   897707  2498e163    JR Hopes           13           10            1
441940   897729  2498e163    JR Hopes            0            0            0
442075   897739  2498e163    JR Hopes           14            4            3
442156   897745  2498e163    JR Hopes            3            2            0
442238   897751  2498e163    JR Hopes            2            2            0

        no_of_sixes  no_of_catches  runouts  no_of_wickets  balls_bowled  \
326745            0              0        0              0            18
328702            0              0        0              0            24
328732            0              0        0              0            48
328762            0              0        0              0            42
328789            0              1        0              0            36
...             ...            ...      ...            ...           ...
441642            0              0        0              0            18
441940            0              0        0              0            24
442075            0              0        0              0            24
442156            0              0        1              0            24
442238            0              0        0              0            24

        dot_balls  wickets  runs_conceded  stumpings      out        date  \
326745          6        1             23          0      DNB  2005-02-17
328702          7        2             26          0      out  2006-01-09
328732         24        0             44          0      DNB  2006-01-15
328762         29        0             28          0      out  2006-01-20
328789         28        1             16          0      DNB  2006-02-03
...           ...      ...            ...        ...      ...         ...
441642          2        0             37          0      out  2015-12-22
441940         10        1             33          0      DNB  2016-01-03
442075          8        0             34          0  not out  2016-01-08
442156          7        1             31          0      out  2016-01-10
442238         13        0             17          0  not out  2016-01-14

                                         venue match_type gender
326745                               Eden Park        T20   male
328702  Brisbane Cricket Ground, Woolloongabba        T20   male
328732  Brisbane Cricket Ground, Woolloongabba        ODI   male
328762                       Docklands Stadium        ODI   male
328789                       Docklands Stadium        ODI   male
...                                        ...        ...    ...
441642                          Bellerive Oval        T20   male
441940  Brisbane Cricket Ground, Woolloongabba        T20   male
442075  Brisbane Cricket Ground, Woolloongabba        T20   male
442156                   Sydney Cricket Ground        T20   male
442238                Melbourne Cricket Ground        T20   male

[144 rows x 20 columns]
Number of rows where player_name is JR Hopes: 144

In [3]:
from espncricinfo.player import Player
player = Player('277916')  # Example player ID
print(player.name)
print(player.role)  # To get the player's role/designation

AttributeError: 'NoneType' object has no attribute 'find_all'

In [1]:
import pandas as pd
df=pd.read_csv('../../CSVs/ODI_H2H.csv')
df=df.sort_values(by='date')
df

C:\Users\Dell\AppData\Local\Temp\ipykernel_17284\3559366829.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../../CSVs/ODI_H2H.csv')

,match_id,batsman_id,batsman_name,batsman_team,bowler_id,bowler_name,bowler_team,runs_scored,balls_faced,runs_conceded,balls_bowled,4s,6s,wickets,gender,venue,date,match_type,wicket_type
200458,64814,2764133a,L Vincent,New Zealand,91a4a398,Z Khan,India,6,4,10,4,1,0,0,male,"McLean Park, Napier",2002-12-29,ODI,NaN
200469,64814,43936951,DR Tuffey,New Zealand,91a4a398,Z Khan,India,3,3,5,4,0,0,1,male,"McLean Park, Napier",2002-12-29,ODI,bowled
200470,64814,27d1cc51,PA Hitchcock,New Zealand,91a4a398,Z Khan,India,2,1,2,1,0,0,0,male,"McLean Park, Napier",2002-12-29,ODI,NaN
200471,64814,725529bc,SC Ganguly,India,43936951,DR Tuffey,New Zealand,0,3,0,3,0,0,1,male,"McLean Park, Napier",2002-12-29,ODI,bowled
200472,64814,de8cce37,VVS Laxman,India,43936951,DR Tuffey,New Zealand,6,20,6,20,1,0,0,male,"McLean Park, Napier",2002-12-29,ODI,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139242,1456443,9550470d,WIA Fernando,Sri Lanka,dadbdb68,JA Duffy,New Zealand,9,11,11,11,1,0,0,male,Rangiri Dambulla International Stadium,2024-11-13,ODI,NaN
139241,1456443,5d1e7582,BKG Mendis,Sri Lanka,dadbdb68,JA Duffy,New Zealand,12,16,12,16,2,0,1,male,Rangiri Dambulla International Stadium,2024-11-13,ODI,caught
139240,1456443,9550470d,WIA Fernando,Sri Lanka,05b1aef8,NG Smith,New Zealand,23,24,28,23,2,1,0,male,Rangiri Dambulla International Stadium,2024-11-13,ODI,NaN
138635,1451902,b43f7a6a,AR Patwa,Tanzania,3a44a4e4,PSRK Sudarshan,Singapore,1,3,2,4,0,0,1,male,"Lugogo Cricket Oval, Kampala",2024-11-13,ODM,caught
139271,1456443,8afe73e2,WA Young,New Zealand,08548b13,PHKD Mendis,Sri Lanka,12,7,12,7,2,0,0,male,Rangiri Dambulla International Stadium,2024-11-13,ODI,NaN

In [3]:
df.to_csv('../../CSVs/ODI_H2H.csv')

In [4]:
df=pd.read_csv('../../CSVs/ODI_H2H.csv')
df = df.drop(columns='Unnamed: 0')
df.to_csv("../../CSVs/ODI_H2H.csv", index=False)

C:\Users\Dell\AppData\Local\Temp\ipykernel_17284\1666977388.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../../CSVs/ODI_H2H.csv')

In [9]:
import pandas as pd
df=pd.read_csv('../../CSVs/Test_H2H.csv')
df=df.sort_values(by='date')
df

,match_id,batsman_id,batsman_name,batsman_team,bowler_id,bowler_name,bowler_team,runs_scored,balls_faced,runs_conceded,balls_bowled,4s,6s,wickets,gender,venue,date,match_type,wicket_type_1,wicket_type_2
166672,63963,0184dc35,R Dravid,India,dc0f5506,MJ Hoggard,England,0,3,0,3,0,0,1,male,"M Chinnaswamy Stadium, Bangalore",2001-12-19,Test,caught,NaN
166665,63963,d2c2b2d5,SR Tendulkar,India,dc0f5506,MJ Hoggard,England,16,19,16,19,1,0,0,male,"M Chinnaswamy Stadium, Bangalore",2001-12-19,Test,NaN,NaN
166664,63963,d2c2b2d5,SR Tendulkar,India,ddc0828d,A Flintoff,England,21,51,22,50,3,0,0,male,"M Chinnaswamy Stadium, Bangalore",2001-12-19,Test,NaN,NaN
166663,63963,de8cce37,VVS Laxman,India,dc0f5506,MJ Hoggard,England,1,2,1,2,0,0,0,male,"M Chinnaswamy Stadium, Bangalore",2001-12-19,Test,NaN,NaN
166662,63963,de8cce37,VVS Laxman,India,ddc0828d,A Flintoff,England,11,16,11,16,2,0,1,male,"M Chinnaswamy Stadium, Bangalore",2001-12-19,Test,bowled,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137619,1452138,782fb776,LV van Beek,Wellington Firebirds,6fb2d3a2,SB Keene,Auckland Aces,16,33,20,33,2,0,1,male,"Basin Reserve, Wellington",2024-11-11,MDM,NaN,caught
137618,1452138,782fb776,LV van Beek,Wellington Firebirds,4de02539,J Sussex,Auckland Aces,23,46,23,46,3,0,1,male,"Basin Reserve, Wellington",2024-11-11,MDM,bowled,NaN
137617,1452138,21e5f325,TA Blundell,Wellington Firebirds,4de02539,J Sussex,Auckland Aces,10,13,10,13,1,0,0,male,"Basin Reserve, Wellington",2024-11-11,MDM,NaN,NaN
137633,1452138,678a8133,LR Dudding,Wellington Firebirds,4de02539,J Sussex,Auckland Aces,1,7,1,7,0,0,0,male,"Basin Reserve, Wellington",2024-11-11,MDM,NaN,NaN
137595,1452138,321be7e3,A Ashok,Auckland Aces,149d0c18,PF Younghusband,Wellington Firebirds,4,13,4,13,1,0,0,male,"Basin Reserve, Wellington",2024-11-11,MDM,NaN,NaN

In [10]:
df.to_csv('../../CSVs/Test_H2H.csv')

In [11]:
df=pd.read_csv('../../CSVs/Test_H2H.csv')
df = df.drop(columns='Unnamed: 0')
df.to_csv("../../CSVs/Test_H2H.csv", index=False)

In [13]:
# Load the dataset (replace 'your_file.csv' with the actual filename)
df_h2h_odi = pd.read_csv('../../CSVs/ODI_H2H.csv')



#### ADDING DATE CUTOFF SO THAT WE DONT'T GET DISCO-LIFIED

df_h2h_odi=df_h2h_odi[df_h2h_odi['date']<='2024-06-30']
df_h2h_odi

C:\Users\Dell\AppData\Local\Temp\ipykernel_17284\1889604762.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_h2h_odi = pd.read_csv('../../CSVs/ODI_H2H.csv')

,match_id,batsman_id,batsman_name,batsman_team,bowler_id,bowler_name,bowler_team,runs_scored,balls_faced,runs_conceded,balls_bowled,4s,6s,wickets,gender,venue,date,match_type,wicket_type
0,64814,2764133a,L Vincent,New Zealand,91a4a398,Z Khan,India,6,4,10,4,1,0,0,male,"McLean Park, Napier",2002-12-29,ODI,NaN
1,64814,43936951,DR Tuffey,New Zealand,91a4a398,Z Khan,India,3,3,5,4,0,0,1,male,"McLean Park, Napier",2002-12-29,ODI,bowled
2,64814,27d1cc51,PA Hitchcock,New Zealand,91a4a398,Z Khan,India,2,1,2,1,0,0,0,male,"McLean Park, Napier",2002-12-29,ODI,NaN
3,64814,725529bc,SC Ganguly,India,43936951,DR Tuffey,New Zealand,0,3,0,3,0,0,1,male,"McLean Park, Napier",2002-12-29,ODI,bowled
4,64814,de8cce37,VVS Laxman,India,43936951,DR Tuffey,New Zealand,6,20,6,20,1,0,0,male,"McLean Park, Napier",2002-12-29,ODI,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240923,1427831,11ff23e3,J Groves,The Blaze,15f609ed,NE Farrant,South East Stars,0,1,0,1,0,0,1,female,"Kent County Cricket Ground, Beckenham",2024-06-30,ODM,caught
240924,1427831,2dece89c,ML Kirk,The Blaze,d6a9af83,PA Franklin,South East Stars,3,5,4,6,0,0,1,female,"Kent County Cricket Ground, Beckenham",2024-06-30,ODM,caught
240925,1427831,d8c6a647,E Claridge,The Blaze,d6a9af83,PA Franklin,South East Stars,12,6,12,6,2,0,0,female,"Kent County Cricket Ground, Beckenham",2024-06-30,ODM,NaN
240926,1427831,d8c6a647,E Claridge,The Blaze,9049ab63,MR Corteen-Coleman,South East Stars,17,11,20,12,3,0,0,female,"Kent County Cricket Ground, Beckenham",2024-06-30,ODM,NaN
240927,1427831,11ff23e3,J Groves,The Blaze,d6a9af83,PA Franklin,South East Stars,1,1,1,1,0,0,0,female,"Kent County Cricket Ground, Beckenham",2024-06-30,ODM,NaN