ODI - Except H2H 28 Nov

In [11]:
import pandas as pd

file1_path = '/Users/chaitanyatandon/Desktop/DREAM_11_v2/Dream-11/CSVs/Sohit/odi_match_wise_cumulated.csv'
file2_path = '/Users/chaitanyatandon/Desktop/DREAM_11_v2/Dream-11/CSVs/Sohit/recent_form_odi.csv'
file3_path = '/Users/chaitanyatandon/Desktop/DREAM_11_v2/Dream-11/CSVs/Sohit/venue_odi.csv'

df1 = pd.read_csv(file1_path)
df2 = pd.read_csv(file2_path)
df3 = pd.read_csv(file3_path)

/var/folders/fc/m5qlqlv518x0v2g6w7wjsh1w0000gn/T/ipykernel_69465/4245697842.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file1_path)
/var/folders/fc/m5qlqlv518x0v2g6w7wjsh1w0000gn/T/ipykernel_69465/4245697842.py:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file2_path)
/var/folders/fc/m5qlqlv518x0v2g6w7wjsh1w0000gn/T/ipykernel_69465/4245697842.py:9: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(file3_path)

In [13]:

# Merge the dataframes on match_id and player_id using inner join
merged_df = pd.merge(df1, df2, on=['match_id', 'player_id'], how='inner')
merged_df = pd.merge(merged_df, df3, on=['match_id', 'player_id'], how='inner')

# Now merged_df contains the combined data from all three files
print(merged_df)

      match_id player_id player_name_x  team_name_x  runs_scored_x  \
0        64814  91a4a398        Z Khan        India             11
1        64814  2764133a     L Vincent  New Zealand             34
2        64814  b8a55852   BB McCullum  New Zealand              7
3        64814  efc0a862     BF Bowden          NaN              0
4        64814  f5390243   CD McMillan  New Zealand              5
...        ...       ...           ...          ...            ...
91087  1398275  a139c379      DN Wyatt      England              0
91088  1398275  6df697a9      FC Jonas  New Zealand              2
91089  1398275  575494db    GE Plimmer  New Zealand              3
91090  1398275  4ba0289e     HC Knight      England              9
91091  1398275  efb6cb2a   BM Halliday  New Zealand              6

       balls_faced_x  no_of_fours_x  no_of_sixes_x  no_of_catches_x  \
0                 13              1              0                1
1                 32              2              0                0
2                 12              0              0                4
3                  0              0              0                0
4                  7              0              0                1
...              ...            ...            ...              ...
91087              0              0              0                0
91088             11              0              0                0
91089             14              0              0                0
91090             16              0              1                0
91091             20              1              0                0

       runouts_x  ...  batsman_100s_at_venue  batsman_50s_at_venue  \
0              0  ...                      0                     0
1              0  ...                      0                     0
2              1  ...                      0                     0
3              0  ...                      0                     0
4              0  ...                      0                     0
...          ...  ...                    ...                   ...
91087          0  ...                      0                     1
91088          0  ...                      0                     0
91089          0  ...                      0                     0
91090          0  ...                      0                     0
91091          0  ...                      0                     0

       batsman_average_at_venue  batsman_strike_rate_at_venue  \
0                           0.0                      0.000000
1                           0.0                      0.000000
2                           0.0                      0.000000
3                           0.0                      0.000000
4                           0.0                      0.000000
...                         ...                           ...
91087                       0.0                     87.500000
91088                       0.0                      0.000000
91089                       0.0                      0.000000
91090                      32.0                     68.817204
91091                      29.0                     69.047619

       batsman_total_runs_at_venue  bowler_average_at_venue  \
0                                0                      0.0
1                                0                      0.0
2                                0                      0.0
3                                0                      0.0
4                                0                      0.0
...                            ...                      ...
91087                           63                      0.0
91088                            0                      0.0
91089                            0                      0.0
91090                           64                     15.0
91091                           29                      0.0

      bowler_economy_rate_at_venue bowler_wickets_at_venue  \
0                             0.00                       0
1                             0.00                       0
2                             0.00                       0
3                             0.00                       0
4                             0.00                       0
...                            ...                     ...
91087                         0.00                       0
91088                         0.00                       0
91089                         0.00                       0
91090                         3.75                       1
91091                         0.00                       0

      fielder_total_catches_at_venue fielder_total_runouts_at_venue
0                                  0                              0
1                                  0                              0
2                                  0                              0
3                                  0                              0
4                                  0                              0
...                              ...                            ...
91087                              1                              0
91088                              0                              0
91089                              0                              0
91090                              2                              0
91091                              1                              0

[91092 rows x 95 columns]

In [14]:
merged_df.head(30)

,match_id,player_id,player_name_x,team_name_x,runs_scored_x,balls_faced_x,no_of_fours_x,no_of_sixes_x,no_of_catches_x,runouts_x,...,batsman_100s_at_venue,batsman_50s_at_venue,batsman_average_at_venue,batsman_strike_rate_at_venue,batsman_total_runs_at_venue,bowler_average_at_venue,bowler_economy_rate_at_venue,bowler_wickets_at_venue,fielder_total_catches_at_venue,fielder_total_runouts_at_venue
0,64814,91a4a398,Z Khan,India,11,13,1,0,1,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
1,64814,2764133a,L Vincent,New Zealand,34,32,2,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
2,64814,b8a55852,BB McCullum,New Zealand,7,12,0,0,4,1,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
3,64814,efc0a862,BF Bowden,NaN,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
4,64814,f5390243,CD McMillan,New Zealand,5,7,0,0,1,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
5,64814,36931357,DB Cowie,NaN,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
6,64814,d7c6af50,DL Vettori,New Zealand,9,6,1,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
7,64814,43936951,DR Tuffey,New Zealand,5,6,0,0,0,1,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
8,64814,8b5b6769,Harbhajan Singh,India,14,17,1,1,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
9,64814,bad31fac,J Srinath,India,3,6,0,0,0,1,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
10,64814,3eac9d95,JDP Oram,New Zealand,4,7,0,0,1,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
11,64814,7fb32e5b,KD Mills,New Zealand,5,6,0,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
12,64814,96fd40ae,A Nehra,India,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
13,64814,dc63f509,EAR de Silva,NaN,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
14,64814,1b668884,MS Sinclair,New Zealand,78,126,4,1,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
15,64814,d84378a4,M Kaif,India,24,38,1,0,1,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
16,64814,de8cce37,VVS Laxman,India,20,39,4,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
17,64814,8ba8195d,V Sehwag,India,108,119,9,2,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
18,64814,eea6b7f1,SP Fleming,New Zealand,1,6,0,0,0,1,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
19,64814,725529bc,SC Ganguly,India,0,3,0,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
20,64814,1c914163,Yuvraj Singh,India,0,2,0,0,1,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
21,64814,766b5798,RS Madugalle,NaN,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
22,64814,0184dc35,R Dravid,India,18,27,1,0,1,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
23,64814,27d1cc51,PA Hitchcock,New Zealand,2,1,0,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
24,64814,99639abf,NJ Astle,New Zealand,76,95,5,1,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
25,64814,0604ef16,SB Bangar,India,4,5,1,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
26,64815,dc63f509,EAR de Silva,NaN,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
27,64815,d7c6af50,DL Vettori,New Zealand,0,0,0,0,1,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
28,64815,36931357,DB Cowie,NaN,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
29,64815,b8a55852,BB McCullum,New Zealand,10,16,0,0,5,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0

In [15]:
# Print list of columns in the dataframe
print(merged_df.columns.tolist())

['match_id', 'player_id', 'player_name_x', 'team_name_x', 'runs_scored_x', 'balls_faced_x', 'no_of_fours_x', 'no_of_sixes_x', 'no_of_catches_x', 'runouts_x', 'balls_bowled_x', 'dot_balls_x', 'wickets_x', 'LBWs/Bowled_x', 'runs_conceded_x', 'stumpings_x', 'out_x', 'date_x', 'venue_x', 'match_type_x', 'gender_x', 'fantasy_points_x', 'batsman_100s_odi', 'batsman_50s_odi', 'batsman_average_runs_per_match_odi', 'batsman_strike_rate_odi', 'batsman_total_runs_odi', 'bowler_average_odi', 'bowler_economy_rate_odi', 'bowler_wickets_odi', 'fielder_total_catches_odi', 'fielder_total_runouts_odi', 'total_fours_odi', 'total_sixes_odi', 'player_name_y', 'team_name_y', 'runs_scored_y', 'balls_faced_y', 'no_of_fours_y', 'no_of_sixes_y', 'no_of_catches_y', 'runouts_y', 'balls_bowled_y', 'dot_balls_y', 'wickets_y', 'LBWs/Bowled_y', 'runs_conceded_y', 'stumpings_y', 'out_y', 'date_y', 'venue_y', 'match_type_y', 'gender_y', 'fantasy_points_y', 'recent_total_runs_odi', 'recent_average_odi', 'recent_strike_rate_odi', 'recent_4s_odi', 'recent_6s_odi', 'recent_50s_odi', 'recent_100s_odi', 'recent_economy_rate_odi', 'recent_bowler_average_odi', 'recent_total_wickets_odi', 'recent_total_catches_odi', 'recent_runouts_odi', 'player_name', 'team_name', 'runs_scored', 'balls_faced', 'no_of_fours', 'no_of_sixes', 'no_of_catches', 'runouts', 'balls_bowled', 'dot_balls', 'wickets', 'LBWs/Bowled', 'runs_conceded', 'stumpings', 'out', 'date', 'venue', 'match_type', 'gender', 'batsman_100s_at_venue', 'batsman_50s_at_venue', 'batsman_average_at_venue', 'batsman_strike_rate_at_venue', 'batsman_total_runs_at_venue', 'bowler_average_at_venue', 'bowler_economy_rate_at_venue', 'bowler_wickets_at_venue', 'fielder_total_catches_at_venue', 'fielder_total_runouts_at_venue']

In [16]:
# List of columns to keep
columns_to_keep = [
    'match_id', 'player_id', 
    'batsman_100s_odi', 'batsman_50s_odi', 'batsman_average_runs_per_match_odi', 
    'batsman_strike_rate_odi', 'batsman_total_runs_odi', 'bowler_average_odi', 
    'bowler_economy_rate_odi', 'bowler_wickets_odi', 'fielder_total_catches_odi', 
    'fielder_total_runouts_odi', 'total_fours_odi', 'total_sixes_odi',
    'recent_total_runs_odi', 'recent_average_odi', 'recent_strike_rate_odi', 
    'recent_4s_odi', 'recent_6s_odi', 'recent_50s_odi', 'recent_100s_odi', 
    'recent_economy_rate_odi', 'recent_bowler_average_odi', 'recent_total_wickets_odi', 
    'recent_total_catches_odi', 'recent_runouts_odi',
    'batsman_100s_at_venue', 'batsman_50s_at_venue', 'batsman_average_at_venue', 
    'batsman_strike_rate_at_venue', 'batsman_total_runs_at_venue', 'bowler_average_at_venue', 
    'bowler_economy_rate_at_venue', 'bowler_wickets_at_venue', 'fielder_total_catches_at_venue', 
    'fielder_total_runouts_at_venue', 'fantasy_points_x'
]

# Drop columns not in the list of columns_to_keep
merged_df = merged_df[columns_to_keep]

# Print the updated dataframe columns
print(merged_df.columns.tolist())

['match_id', 'player_id', 'batsman_100s_odi', 'batsman_50s_odi', 'batsman_average_runs_per_match_odi', 'batsman_strike_rate_odi', 'batsman_total_runs_odi', 'bowler_average_odi', 'bowler_economy_rate_odi', 'bowler_wickets_odi', 'fielder_total_catches_odi', 'fielder_total_runouts_odi', 'total_fours_odi', 'total_sixes_odi', 'recent_total_runs_odi', 'recent_average_odi', 'recent_strike_rate_odi', 'recent_4s_odi', 'recent_6s_odi', 'recent_50s_odi', 'recent_100s_odi', 'recent_economy_rate_odi', 'recent_bowler_average_odi', 'recent_total_wickets_odi', 'recent_total_catches_odi', 'recent_runouts_odi', 'batsman_100s_at_venue', 'batsman_50s_at_venue', 'batsman_average_at_venue', 'batsman_strike_rate_at_venue', 'batsman_total_runs_at_venue', 'bowler_average_at_venue', 'bowler_economy_rate_at_venue', 'bowler_wickets_at_venue', 'fielder_total_catches_at_venue', 'fielder_total_runouts_at_venue', 'fantasy_points_x']

In [18]:
# Define X_train and y_train
X_train = merged_df.drop(columns=['match_id', 'player_id', 'fantasy_points_x'])
y_train = merged_df['fantasy_points_x']

# Train-test split (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Setup PyCaret regression
regression_setup = setup(data=merged_df, target='fantasy_points_x', 
                         ignore_features=['match_id', 'player_id'], 
                         session_id=123, 
                         train_size=0.8)

# Compare regression models
models_comparison = compare_models()

# Predict the target on the test set using the best model
best_model = create_model(models_comparison)
predictions = predict_model(best_model, data=X_test)

# Calculate MAE for each player (individual MAE)
merged_df['predicted_fantasy_points'] = predictions['Label']
merged_df['mae_player'] = abs(merged_df['predicted_fantasy_points'] - merged_df['fantasy_points_x']) / abs(merged_df['fantasy_points_x']) * 100

# Print MAE for each player
print("MAE for each player:")
print(merged_df[['match_id', 'player_id', 'mae_player']])

# Calculate MAE for each match (sum of all player points)
matchwise_mae = merged_df.groupby('match_id').apply(lambda x: np.abs(x['predicted_fantasy_points'].sum() - x['fantasy_points_x'].sum()) / x['fantasy_points_x'].sum() * 100)

# Print MAE for each match
print("\nMAE for each match:")
print(matchwise_mae)

NameError: name 'train_test_split' is not defined

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from pycaret.regression import *
import numpy as np

In [20]:
# Define X_train and y_train
X_train = merged_df.drop(columns=['match_id', 'player_id', 'fantasy_points_x'])
y_train = merged_df['fantasy_points_x']

# Train-test split (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Setup PyCaret regression
regression_setup = setup(data=merged_df, target='fantasy_points_x', 
                         ignore_features=['match_id', 'player_id'], 
                         session_id=123, 
                         train_size=0.8)

# Compare regression models
models_comparison = compare_models()

# Predict the target on the test set using the best model
best_model = create_model(models_comparison)
predictions = predict_model(best_model, data=X_test)

# Calculate MAE for each player (individual MAE)
merged_df['predicted_fantasy_points'] = predictions['Label']
merged_df['mae_player'] = abs(merged_df['predicted_fantasy_points'] - merged_df['fantasy_points_x']) / abs(merged_df['fantasy_points_x']) * 100

# Print MAE for each player
print("MAE for each player:")
print(merged_df[['match_id', 'player_id', 'mae_player']])

# Calculate MAE for each match (sum of all player points)
matchwise_mae = merged_df.groupby('match_id').apply(lambda x: np.abs(x['predicted_fantasy_points'].sum() - x['fantasy_points_x'].sum()) / x['fantasy_points_x'].sum() * 100)

# Print MAE for each match
print("\nMAE for each match:")
print(matchwise_mae)

KeyError: 'Label'

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from pycaret.regression import *
import numpy as np

# Define columns to keep
columns_to_keep = [
    'match_id', 'player_id', 
    'batsman_100s_odi', 'batsman_50s_odi', 'batsman_average_runs_per_match_odi', 
    'batsman_strike_rate_odi', 'batsman_total_runs_odi', 'bowler_average_odi', 
    'bowler_economy_rate_odi', 'bowler_wickets_odi', 'fielder_total_catches_odi', 
    'fielder_total_runouts_odi', 'total_fours_odi', 'total_sixes_odi',
    'recent_total_runs_odi', 'recent_average_odi', 'recent_strike_rate_odi', 
    'recent_4s_odi', 'recent_6s_odi', 'recent_50s_odi', 'recent_100s_odi', 
    'recent_economy_rate_odi', 'recent_bowler_average_odi', 'recent_total_wickets_odi', 
    'recent_total_catches_odi', 'recent_runouts_odi',
    'batsman_100s_at_venue', 'batsman_50s_at_venue', 'batsman_average_at_venue', 
    'batsman_strike_rate_at_venue', 'batsman_total_runs_at_venue', 'bowler_average_at_venue', 
    'bowler_economy_rate_at_venue', 'bowler_wickets_at_venue', 'fielder_total_catches_at_venue', 
    'fielder_total_runouts_at_venue', 'fantasy_points_x'
]

# Filter the merged dataframe to keep only the desired columns
merged_df = merged_df[columns_to_keep]

# Define X_train and y_train
X_train = merged_df.drop(columns=['match_id', 'player_id', 'fantasy_points_x'])
y_train = merged_df['fantasy_points_x']

# Train-test split (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Setup PyCaret regression
regression_setup = setup(data=merged_df, target='fantasy_points_x', 
                         ignore_features=['match_id', 'player_id'], 
                         session_id=123, 
                         train_size=0.8)

# Compare regression models
models_comparison = compare_models()

# Predict the target on the test set using the best model
best_model = create_model(models_comparison)
predictions = predict_model(best_model, data=X_test)

# Check the name of the column containing predictions
print(predictions.columns)

# Calculate MAE for each player (individual MAE)
merged_df['predicted_fantasy_points'] = predictions['Prediction']  # Adjusted column name
merged_df['mae_player'] = abs(merged_df['predicted_fantasy_points'] - merged_df['fantasy_points_x']) / abs(merged_df['fantasy_points_x']) * 100

# Print MAE for each player
print("MAE for each player:")
print(merged_df[['match_id', 'player_id', 'mae_player']])

# Calculate MAE for each match (sum of all player points)
matchwise_mae = merged_df.groupby('match_id').apply(lambda x: np.abs(x['predicted_fantasy_points'].sum() - x['fantasy_points_x'].sum()) / x['fantasy_points_x'].sum() * 100)

# Print MAE for each match
print("\nMAE for each match:")
print(matchwise_mae)

Index(['batsman_100s_odi', 'batsman_50s_odi',
       'batsman_average_runs_per_match_odi', 'batsman_strike_rate_odi',
       'batsman_total_runs_odi', 'bowler_average_odi',
       'bowler_economy_rate_odi', 'bowler_wickets_odi',
       'fielder_total_catches_odi', 'fielder_total_runouts_odi',
       'total_fours_odi', 'total_sixes_odi', 'recent_total_runs_odi',
       'recent_average_odi', 'recent_strike_rate_odi', 'recent_4s_odi',
       'recent_6s_odi', 'recent_50s_odi', 'recent_100s_odi',
       'recent_economy_rate_odi', 'recent_bowler_average_odi',
       'recent_total_wickets_odi', 'recent_total_catches_odi',
       'recent_runouts_odi', 'batsman_100s_at_venue', 'batsman_50s_at_venue',
       'batsman_average_at_venue', 'batsman_strike_rate_at_venue',
       'batsman_total_runs_at_venue', 'bowler_average_at_venue',
       'bowler_economy_rate_at_venue', 'bowler_wickets_at_venue',
       'fielder_total_catches_at_venue', 'fielder_total_runouts_at_venue',
       'prediction_label'],
      dtype='object')

KeyError: 'Prediction'

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import HuberRegressor
from sklearn.metrics import mean_absolute_error
import numpy as np

# Define columns to keep
columns_to_keep = [
    'match_id', 'player_id', 
    'batsman_100s_odi', 'batsman_50s_odi', 'batsman_average_runs_per_match_odi', 
    'batsman_strike_rate_odi', 'batsman_total_runs_odi', 'bowler_average_odi', 
    'bowler_economy_rate_odi', 'bowler_wickets_odi', 'fielder_total_catches_odi', 
    'fielder_total_runouts_odi', 'total_fours_odi', 'total_sixes_odi',
    'recent_total_runs_odi', 'recent_average_odi', 'recent_strike_rate_odi', 
    'recent_4s_odi', 'recent_6s_odi', 'recent_50s_odi', 'recent_100s_odi', 
    'recent_economy_rate_odi', 'recent_bowler_average_odi', 'recent_total_wickets_odi', 
    'recent_total_catches_odi', 'recent_runouts_odi',
    'batsman_100s_at_venue', 'batsman_50s_at_venue', 'batsman_average_at_venue', 
    'batsman_strike_rate_at_venue', 'batsman_total_runs_at_venue', 'bowler_average_at_venue', 
    'bowler_economy_rate_at_venue', 'bowler_wickets_at_venue', 'fielder_total_catches_at_venue', 
    'fielder_total_runouts_at_venue', 'fantasy_points_x'
]

# Filter the merged dataframe to keep only the desired columns
merged_df = merged_df[columns_to_keep]

# Define X_train and y_train
X_train = merged_df.drop(columns=['match_id', 'player_id', 'fantasy_points_x'])
y_train = merged_df['fantasy_points_x']

# Train-test split (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Initialize the Huber Regressor model
huber_model = HuberRegressor()

# Train the model
huber_model.fit(X_train, y_train)

# Make predictions on the test data
predictions = huber_model.predict(X_test)

# Calculate MAE for each player (individual MAE)
mae_player = np.abs(predictions - y_test) / np.abs(y_test) * 100

# Print MAE for each player
print("MAE for each player:")
player_mae_df = pd.DataFrame({
    'match_id': merged_df.loc[X_test.index, 'match_id'], 
    'player_id': merged_df.loc[X_test.index, 'player_id'], 
    'mae_player': mae_player
})
print(player_mae_df)

# Calculate MAE for each match (sum of all player points)
# Merge predictions with the original data to group by match
merged_predictions = merged_df.loc[X_test.index, ['match_id', 'fantasy_points_x']].copy()
merged_predictions['predicted_fantasy_points'] = predictions

matchwise_mae = merged_predictions.groupby('match_id').apply(
    lambda x: np.abs(x['predicted_fantasy_points'].sum() - x['fantasy_points_x'].sum()) / x['fantasy_points_x'].sum() * 100
)

# Print MAE for each match
print("\nMAE for each match:")
print(matchwise_mae)

MAE for each player:
      match_id player_id  mae_player
34554   676531  8cf9814c   18.124208
76348  1298022  b56dc5f7   35.948096
84584  1347539  40e4cf47         inf
55589  1083447  76752ac8         inf
62434  1124086  7b5c6c0b   70.515530
...        ...       ...         ...
41944   722343  8fd1a8f5   31.584182
63782  1133943  b3b39bed  397.718128
67243  1252285  35828bdd   41.351170
40280   785977  a9231c3f   19.050257
66037  1250203  4531f249         inf

[18219 rows x 3 columns]

MAE for each match:
match_id
64814         98.735414
64815         41.930637
64816       -502.260187
64817         68.787594
64819         10.668680
                ...
wi_211979     55.462134
wi_212061     65.286190
wi_212062     53.921572
wi_212063     62.764591
wi_212064      9.251671
Length: 3448, dtype: float64

In [26]:
import pandas as pd
from sklearn.linear_model import HuberRegressor
import numpy as np

# Define columns to keep
columns_to_keep = [
    'match_id', 'player_id', 
    'batsman_100s_odi', 'batsman_50s_odi', 'batsman_average_runs_per_match_odi', 
    'batsman_strike_rate_odi', 'batsman_total_runs_odi', 'bowler_average_odi', 
    'bowler_economy_rate_odi', 'bowler_wickets_odi', 'fielder_total_catches_odi', 
    'fielder_total_runouts_odi', 'total_fours_odi', 'total_sixes_odi',
    'recent_total_runs_odi', 'recent_average_odi', 'recent_strike_rate_odi', 
    'recent_4s_odi', 'recent_6s_odi', 'recent_50s_odi', 'recent_100s_odi', 
    'recent_economy_rate_odi', 'recent_bowler_average_odi', 'recent_total_wickets_odi', 
    'recent_total_catches_odi', 'recent_runouts_odi',
    'batsman_100s_at_venue', 'batsman_50s_at_venue', 'batsman_average_at_venue', 
    'batsman_strike_rate_at_venue', 'batsman_total_runs_at_venue', 'bowler_average_at_venue', 
    'bowler_economy_rate_at_venue', 'bowler_wickets_at_venue', 'fielder_total_catches_at_venue', 
    'fielder_total_runouts_at_venue', 'fantasy_points_x'
]

# Filter the merged dataframe to keep only the desired columns
merged_df = merged_df[columns_to_keep]

# Define X_train and y_train
X = merged_df.drop(columns=['match_id', 'player_id', 'fantasy_points_x'])
y = merged_df['fantasy_points_x']

# Sequential Train-Test Split (80% train, 20% test)
train_size = int(0.8 * len(merged_df))
X_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = y[:train_size], y[train_size:]

# Initialize the Huber Regressor model
huber_model = HuberRegressor()

# Train the model
huber_model.fit(X_train, y_train)

# Make predictions on the test data
predictions = huber_model.predict(X_test)

# Calculate error, absolute error, and percentage absolute error
error = predictions - y_test
absolute_error = np.abs(error)
percentage_absolute_error = np.where(y_test != 0, absolute_error / np.abs(y_test) * 100, -1)

# Prepare the dataframe to save
error_df = pd.DataFrame({
    'match_id': merged_df.loc[X_test.index, 'match_id'], 
    'player_id': merged_df.loc[X_test.index, 'player_id'], 
    'actual_fantasy_points': y_test,
    'predicted_fantasy_points': predictions,
    'error': error,
    'absolute_error': absolute_error,
    'percentage_absolute_error': percentage_absolute_error
})

# Save the dataframe to a CSV file
error_df.to_csv('player_error_details.csv', index=False)

# Print the dataframe for verification
print("Error details for each player:")
print(error_df)

Error details for each player:
      match_id player_id  actual_fantasy_points  predicted_fantasy_points  \
72873  1276907  8cf9814c                     89                 53.877942
72874  1276907  fe93fd9d                      0                 48.469107
72875  1276907  a343262c                     -2                 52.672162
72876  1276907  85e0cf10                     25                 39.952716
72877  1276907  99b75528                     36                 38.197601
...        ...       ...                    ...                       ...
91087  1398275  a139c379                      0                 21.033600
91088  1398275  6df697a9                     -8                 24.940194
91089  1398275  575494db                     -3                 14.014615
91090  1398275  4ba0289e                     11                 32.641972
91091  1398275  efb6cb2a                     28                 38.272669

           error  absolute_error  percentage_absolute_error
72873 -35.122058       35.122058                  39.462986
72874  48.469107       48.469107                  -1.000000
72875  54.672162       54.672162                2733.608122
72876  14.952716       14.952716                  59.810864
72877   2.197601        2.197601                   6.104448
...          ...             ...                        ...
91087  21.033600       21.033600                  -1.000000
91088  32.940194       32.940194                 411.752422
91089  17.014615       17.014615                 567.153829
91090  21.641972       21.641972                 196.745200
91091  10.272669       10.272669                  36.688102

[18219 rows x 7 columns]

In [27]:
import pandas as pd

# Load the previously saved CSV containing player-wise errors
error_df = pd.read_csv('player_error_details.csv')

# Aggregate the data by 'match_id'
matchwise_summary = error_df.groupby('match_id').agg(
    actual_sum_fantasy_points=('actual_fantasy_points', 'sum'),
    predicted_sum_fantasy_points=('predicted_fantasy_points', 'sum')
).reset_index()

# Calculate error and percentage_error
matchwise_summary['error'] = matchwise_summary['predicted_sum_fantasy_points'] - matchwise_summary['actual_sum_fantasy_points']
matchwise_summary['percentage_error'] = matchwise_summary.apply(
    lambda row: abs(row['error']) / abs(row['actual_sum_fantasy_points']) * 100 if row['actual_sum_fantasy_points'] != 0 else -1,
    axis=1
)

# Save the matchwise summary to a new CSV
matchwise_summary.to_csv('matchwise_error_summary.csv', index=False)

# Print the matchwise error summary
print("Matchwise Error Summary:")
print(matchwise_summary)

Matchwise Error Summary:
     match_id  actual_sum_fantasy_points  predicted_sum_fantasy_points  \
0     1276907                        336                    718.819227
1     1276908                       1102                    944.729959
2     1276909                       1105                    864.347553
3     1276910                       1182                    886.587622
4     1276911                        955                    874.070459
..        ...                        ...                           ...
692   1434288                       1078                    651.002543
693   1434289                        788                    696.398421
694   1436886                        828                    659.391203
695   1436887                        701                    604.123647
696   1436888                        917                    632.228525

          error  percentage_error
0    382.819227        113.934294
1   -157.270041         14.271329
2   -240.652447         21.778502
3   -295.412378         24.992587
4    -80.929541          8.474298
..          ...               ...
692 -426.997457         39.610154
693  -91.601579         11.624566
694 -168.608797         20.363381
695  -96.876353         13.819737
696 -284.771475         31.054686

[697 rows x 5 columns]

In [28]:
import pandas as pd

# Load the matchwise error summary CSV
matchwise_summary = pd.read_csv('matchwise_error_summary.csv')

# Calculate the overall average of the percentage error, excluding -1 values
# (which were used to handle division by zero)
average_percentage_error = matchwise_summary[matchwise_summary['percentage_error'] != -1]['percentage_error'].mean()

# Print the overall average percentage error
print("Overall Average Percentage Error:", average_percentage_error)

Overall Average Percentage Error: 35.482484345217905

In [29]:

player_error_df = pd.read_csv('player_error_details.csv')

In [31]:
player_error_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18219 entries, 0 to 18218
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match_id                   18219 non-null  int64
 1   player_id                  18219 non-null  object
 2   actual_fantasy_points      18219 non-null  int64
 3   predicted_fantasy_points   18219 non-null  float64
 4   error                      18219 non-null  float64
 5   absolute_error             18219 non-null  float64
 6   percentage_absolute_error  18219 non-null  float64
dtypes: float64(4), int64(2), object(1)
memory usage: 996.5+ KB

In [33]:
# Filter out rows where percentage_absolute_error is -1
player_error_df_filtered = player_error_df[player_error_df['percentage_absolute_error'] != -1]

# Calculate the mean of the absolute percentage error
absolute_percentage_error_mean = player_error_df_filtered['percentage_absolute_error'].mean()

# Print the result
print("Absolute Percentage Error Mean (excluding -1s):", absolute_percentage_error_mean)

Absolute Percentage Error Mean (excluding -1s): 255.674468669712

In [34]:
player_error_df = pd.read_csv('/Users/chaitanyatandon/Desktop/DREAM_11_v2/Dream-11/CSVs/Sohit/dream_teams.csv')

In [35]:
player_error_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17843 entries, 0 to 17842
Data columns (total 46 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   match_id                 17843 non-null  object
 1   date                     17843 non-null  object
 2   player1_id               17843 non-null  object
 3   player1_name             17843 non-null  object
 4   player1_team             17843 non-null  object
 5   player1_fantasy_points   17843 non-null  int64
 6   player2_id               17843 non-null  object
 7   player2_name             17843 non-null  object
 8   player2_team             17843 non-null  object
 9   player2_fantasy_points   17843 non-null  int64
 10  player3_id               17843 non-null  object
 11  player3_name             17843 non-null  object
 12  player3_team             17843 non-null  object
 13  player3_fantasy_points   17843 non-null  int64
 14  player4_id               17843 non-null  object
 15  player4_name             17843 non-null  object
 16  player4_team             17843 non-null  object
 17  player4_fantasy_points   17843 non-null  int64
 18  player5_id               17843 non-null  object
 19  player5_name             17843 non-null  object
 20  player5_team             17843 non-null  object
 21  player5_fantasy_points   17843 non-null  int64
 22  player6_id               17843 non-null  object
 23  player6_name             17843 non-null  object
 24  player6_team             17842 non-null  object
 25  player6_fantasy_points   17843 non-null  int64
 26  player7_id               17843 non-null  object
 27  player7_name             17843 non-null  object
 28  player7_team             17843 non-null  object
 29  player7_fantasy_points   17843 non-null  int64
 30  player8_id               17843 non-null  object
 31  player8_name             17843 non-null  object
 32  player8_team             17840 non-null  object
 33  player8_fantasy_points   17843 non-null  int64
 34  player9_id               17843 non-null  object
 35  player9_name             17843 non-null  object
 36  player9_team             17842 non-null  object
 37  player9_fantasy_points   17843 non-null  int64
 38  player10_id              17843 non-null  object
 39  player10_name            17843 non-null  object
 40  player10_team            17838 non-null  object
 41  player10_fantasy_points  17843 non-null  int64
 42  player11_id              17843 non-null  object
 43  player11_name            17843 non-null  object
 44  player11_team            17796 non-null  object
 45  player11_fantasy_points  17843 non-null  int64
dtypes: int64(11), object(35)
memory usage: 6.3+ MB

DREAM TEAM ERROR CALCULATION

In [40]:
import pandas as pd

# Load the CSV files into pandas DataFrames
player_error_details = pd.read_csv('/Users/chaitanyatandon/Desktop/DREAM_11_v2/Dream-11/Code/Model/player_error_details.csv')
dream_teams = pd.read_csv('/Users/chaitanyatandon/Desktop/DREAM_11_v2/Dream-11/CSVs/Sohit/dream_teams.csv')

# Ensure match_id columns are the same (if they are named differently, rename them accordingly)
# Let's assume 'match_id' is the column name in both files

# Filter dream_teams to keep only the rows where match_id exists in player_error_details
filtered_dream_teams = dream_teams[dream_teams['match_id'].isin(player_error_details['match_id'])]

# Save the filtered DataFrame back to CSV (optional)
filtered_dream_teams.to_csv('test_dream_teams.csv', index=False)

# Preview the filtered data
print(filtered_dream_teams.head())

     match_id        date player1_id player1_name  player1_team  \
6415  1276907  2022-07-12   462411b3    JJ Bumrah         India
6416  1276908  2022-07-14   8db7f47f   RJW Topley       England
6417  1276909  2022-07-17   dbe50b21    HH Pandya         India
6418  1276910  2022-07-19   6a26221c   AK Markram  South Africa
6419  1276911  2022-07-22   11614d87  D Pretorius  South Africa

      player1_fantasy_points player2_id       player2_name  player2_team  \
6415                     202   740742ef          RG Sharma         India
6416                     199   57ee1fde          YS Chahal         India
6417                     205   919a3be2            RR Pant         India
6418                     164   9948e262  HE van der Dussen  South Africa
6419                     150   249d60c9          AU Rashid       England

      player2_fantasy_points  ... player9_team player9_fantasy_points  \
6415                     105  ...      England                     16
6416                     129  ...      England                     44
6417                     179  ...        India                     46
6418                     162  ...      England                     53
6419                     100  ...      England                     53

     player10_id  player10_name player10_team player10_fantasy_points  \
6415    cad40f5e       BA Carse       England                      11
6416    fe93fd9d      RA Jadeja         India                      44
6417    bb351c23         MM Ali       England                      42
6418    a03bba42       T Shamsi  South Africa                      50
6419    235c2bb6      H Klaasen  South Africa                      52

     player11_id  player11_name player11_team player11_fantasy_points
6415    8db7f47f     RJW Topley       England                      10
6416    271f83cd       SA Yadav         India                      38
6417    e087956b      BA Stokes       England                      37
6418    d67d5f00      DA Miller  South Africa                      42
6419    d1c36f5c         JJ Roy       England                      27

[5 rows x 46 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 697 entries, 6415 to 12108
Data columns (total 46 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   match_id                 697 non-null    object
 1   date                     697 non-null    object
 2   player1_id               697 non-null    object
 3   player1_name             697 non-null    object
 4   player1_team             697 non-null    object
 5   player1_fantasy_points   697 non-null    int64
 6   player2_id               697 non-null    object
 7   player2_name             697 non-null    object
 8   player2_team             697 non-null    object
 9   player2_fantasy_points   697 non-null    int64
 10  player3_id               697 non-null    object
 11  player3_name             697 non-null    object
 12  player3_team             697 non-null    object
 13  player3_fantasy_points   697 non-null    int64
 14  player4_id               697 non-null    object
 15  player4_name             697 non-null    object
 16  player4_team             697 non-null    object
 17  player4_fantasy_points   697 non-null    int64
 18  player5_id               697 non-null    object
 19  player5_name             697 non-null    object
 20  player5_team             697 non-null    object
 21  player5_fantasy_points   697 non-null    int64
 22  player6_id               697 non-null    object
 23  player6_name             697 non-null    object
 24  player6_team             697 non-null    object
 25  player6_fantasy_points   697 non-null    int64
 26  player7_id               697 non-null    object
 27  player7_name             697 non-null    object
 28  player7_team             697 non-null    object
 29  player7_fantasy_points   697 non-null    int64
 30  player8_id               697 non-null    object
 31  player8_name             697 non-null    object
 32  player8_team             697 non-null    object
 33  player8_fantasy_points   697 non-null    int64
 34  player9_id               697 non-null    object
 35  player9_name             697 non-null    object
 36  player9_team             697 non-null    object
 37  player9_fantasy_points   697 non-null    int64
 38  player10_id              697 non-null    object
 39  player10_name            697 non-null    object
 40  player10_team            697 non-null    object
 41  player10_fantasy_points  697 non-null    int64
 42  player11_id              697 non-null    object
 43  player11_name            697 non-null    object
 44  player11_team            694 non-null    object
 45  player11_fantasy_points  697 non-null    int64
dtypes: int64(11), object(35)
memory usage: 255.9+ KB

In [42]:
# List the columns of the filtered_dream_teams DataFrame
columns = filtered_dream_teams.columns.tolist()

# Print the columns
print(columns)

['match_id', 'date', 'player1_id', 'player1_name', 'player1_team', 'player1_fantasy_points', 'player2_id', 'player2_name', 'player2_team', 'player2_fantasy_points', 'player3_id', 'player3_name', 'player3_team', 'player3_fantasy_points', 'player4_id', 'player4_name', 'player4_team', 'player4_fantasy_points', 'player5_id', 'player5_name', 'player5_team', 'player5_fantasy_points', 'player6_id', 'player6_name', 'player6_team', 'player6_fantasy_points', 'player7_id', 'player7_name', 'player7_team', 'player7_fantasy_points', 'player8_id', 'player8_name', 'player8_team', 'player8_fantasy_points', 'player9_id', 'player9_name', 'player9_team', 'player9_fantasy_points', 'player10_id', 'player10_name', 'player10_team', 'player10_fantasy_points', 'player11_id', 'player11_name', 'player11_team', 'player11_fantasy_points']

In [43]:
# Select the columns to keep
columns_to_keep = ['match_id', 
                   'player1_id', 'player1_fantasy_points', 
                   'player2_id', 'player2_fantasy_points', 
                   'player3_id', 'player3_fantasy_points', 
                   'player4_id', 'player4_fantasy_points', 
                   'player5_id', 'player5_fantasy_points', 
                   'player6_id', 'player6_fantasy_points', 
                   'player7_id', 'player7_fantasy_points', 
                   'player8_id', 'player8_fantasy_points', 
                   'player9_id', 'player9_fantasy_points', 
                   'player10_id', 'player10_fantasy_points', 
                   'player11_id', 'player11_fantasy_points']

# Keep only the necessary columns
filtered_dream_teams = filtered_dream_teams[columns_to_keep]

In [49]:
import pandas as pd

# Input Files
player_error_details_file = "/Users/chaitanyatandon/Desktop/DREAM_11_v2/Dream-11/Code/Model/player_error_details.csv"
designation_file = "/Users/chaitanyatandon/Desktop/DREAM_11_v2/Dream-11/CSVs/Designation.csv"

# Output File
output_file = "/Users/chaitanyatandon/Desktop/DREAM_11_v2/Dream-11/Code/Model/predicted_odi_teams.csv"

# Read Data
player_error_details = pd.read_csv(player_error_details_file)
designation_data = pd.read_csv(designation_file)

# Select the necessary columns from player_error_details
player_error_details = player_error_details[["match_id", "player_id", "actual_fantasy_points", "predicted_fantasy_points"]]

# Merge with designation_data on 'player_id' to add the 'role'
merged_data = pd.merge(player_error_details, designation_data[["player_id", "role"]], on="player_id", how="left")

# Save the result to the output CSV file
merged_data.to_csv(output_file, index=False)

print(f"Data saved to {output_file}")

Data saved to /Users/chaitanyatandon/Desktop/DREAM_11_v2/Dream-11/Code/Model/predicted_odi_teams.csv

In [53]:
import pandas as pd

# Input File
predicted_odi_teams_file = "/Users/chaitanyatandon/Desktop/DREAM_11_v2/Dream-11/Code/Model/predicted_odi_teams.csv"  # Path to the predicted_odi_teams.csv

# Output File
output_file = "predicted_dream_team.csv"  # Path to save the output CSV

# Read Data
odi_teams_data = pd.read_csv(predicted_odi_teams_file)

# Columns for Output
output_columns = [
    "match_id",
    "player1_id", "player1_predicted_fantasy_points",
    "player2_id", "player2_predicted_fantasy_points",
    "player3_id", "player3_predicted_fantasy_points",
    "player4_id", "player4_predicted_fantasy_points",
    "player5_id", "player5_predicted_fantasy_points",
    "player6_id", "player6_predicted_fantasy_points",
    "player7_id", "player7_predicted_fantasy_points",
    "player8_id", "player8_predicted_fantasy_points",
    "player9_id", "player9_predicted_fantasy_points",
    "player10_id", "player10_predicted_fantasy_points",
    "player11_id", "player11_predicted_fantasy_points"
]

# Prepare Output Data
output_data = []

# Function to calculate the predicted dream team
def calculate_predicted_dream_team(players, match_group):
    try:
        selected_players = []

        # Step 1: Pick one player from each role based on predicted fantasy points
        for role in ["Batsman", "Bowler", "Wicket-Keeper", "All-Rounder"]:
            role_players = [p for p in players if p["role"] == role]
            if role_players:
                selected_player = max(role_players, key=lambda x: x["predicted_fantasy_points"])
                selected_players.append(selected_player)

        # Step 2: Select remaining players to make a team of 11
        remaining_players = [p for p in players if p not in selected_players]
        remaining_players.sort(key=lambda x: x["predicted_fantasy_points"], reverse=True)

        while len(selected_players) < 11:
            next_player = remaining_players.pop(0)
            selected_players.append(next_player)

        # Step 3: Ensure team diversity (No more than 7 players from the same team)
        team_counts = pd.DataFrame(selected_players)["team_name"].value_counts()
        if team_counts.max() == 11:
            # Replace the lowest fantasy point player with the highest fantasy point player from the other team
            other_team = [team for team in match_group["team_name"].unique() if team not in team_counts.index][0]
            lowest_fantasy_player = min(selected_players, key=lambda x: x["predicted_fantasy_points"])
            replacement_player = max(
                [p for p in players if p["team_name"] == other_team and p not in selected_players],
                key=lambda x: x["predicted_fantasy_points"]
            )
            selected_players.remove(lowest_fantasy_player)
            selected_players.append(replacement_player)

        # Step 4: Optional: Assign Captain and Vice-Captain
        # Uncomment if you'd like to apply the captain/vice-captain bonus
        # selected_players.sort(key=lambda x: x["predicted_fantasy_points"], reverse=True)
        # captain = selected_players[0]
        # vice_captain = selected_players[1]
        # for player in selected_players:
        #     if player == captain:
        #         player["predicted_fantasy_points"] *= 2
        #     elif player == vice_captain:
        #         player["predicted_fantasy_points"] *= 1.5

        return selected_players

    except Exception as e:
        print(f"Error in calculating dream team: {e}")
        return None

In [54]:
odi_teams_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18295 entries, 0 to 18294
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   match_id                  18295 non-null  int64
 1   player_id                 18295 non-null  object
 2   actual_fantasy_points     18295 non-null  int64
 3   predicted_fantasy_points  18295 non-null  float64
 4   role                      15697 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 714.8+ KB

In [58]:
odi_teams_data.head(20)

,match_id,player_id,actual_fantasy_points,predicted_fantasy_points,role
0,1276907,8cf9814c,89,53.877942,Bowler
1,1276907,fe93fd9d,0,48.469107,All-Rounder
2,1276907,a343262c,-2,52.672162,All-Rounder
3,1276907,85e0cf10,25,39.952716,Bowler
4,1276907,99b75528,36,38.197601,Wicket-Keeper
5,1303310,e824e6ee,90,35.662161,Wicket-Keeper
6,1303310,fc55ec67,106,44.147641,Bowler
7,1276907,7f048519,28,53.765590,All-Rounder
8,1276907,e9987a94,6,45.797199,Bowler
9,1276907,d6a7dd38,0,0.537118,NaN
10,1276907,cad40f5e,11,47.785145,All-Rounder
11,1276907,2e0fcc58,0,9.367043,Bowler
12,1276907,d1c36f5c,-2,38.864375,Batsman
13,1276907,271f83cd,8,29.930063,Batsman
14,1276907,85ec8e33,0,40.038608,Batsman
15,1276907,57ee1fde,0,37.792454,Bowler
16,1276907,740742ef,105,19.532432,Batsman
17,1276907,dbe50b21,0,43.649604,All-Rounder
18,1276907,e087956b,-2,53.487337,All-Rounder
19,1276907,8db7f47f,10,36.903188,Bowler

In [59]:
import pandas as pd

# Input File
predicted_odi_teams_file = "/Users/chaitanyatandon/Desktop/DREAM_11_v2/Dream-11/Code/Model/predicted_odi_teams.csv"  # Path to the predicted_odi_teams.csv

# Output File
output_file = "predicted_dream_team.csv"  # Path to save the output CSV

# Read Data
odi_teams_data = pd.read_csv(predicted_odi_teams_file)

# Columns for Output
output_columns = [
    "match_id",
    "player1_id", "player1_predicted_fantasy_points",
    "player2_id", "player2_predicted_fantasy_points",
    "player3_id", "player3_predicted_fantasy_points",
    "player4_id", "player4_predicted_fantasy_points",
    "player5_id", "player5_predicted_fantasy_points",
    "player6_id", "player6_predicted_fantasy_points",
    "player7_id", "player7_predicted_fantasy_points",
    "player8_id", "player8_predicted_fantasy_points",
    "player9_id", "player9_predicted_fantasy_points",
    "player10_id", "player10_predicted_fantasy_points",
    "player11_id", "player11_predicted_fantasy_points"
]

# Prepare Output Data
output_data = []

# Function to calculate the predicted dream team
def calculate_predicted_dream_team(players, match_group):
    try:
        selected_players = []

        # Step 1: Pick one player from each role based on predicted fantasy points
        for role in ["Batsman", "Bowler", "Wicket-Keeper", "All-Rounder"]:
            role_players = [p for p in players if p["role"] == role]
            if role_players:
                selected_player = max(role_players, key=lambda x: x["predicted_fantasy_points"])
                selected_players.append(selected_player)

        # Step 2: Select remaining players to make a team of 11
        remaining_players = [p for p in players if p not in selected_players]
        remaining_players.sort(key=lambda x: x["predicted_fantasy_points"], reverse=True)

        while len(selected_players) < 11:
            next_player = remaining_players.pop(0)
            selected_players.append(next_player)

        # Step 3: Ensure team diversity (No more than 7 players from the same team)
        team_counts = pd.DataFrame(selected_players)["team_name"].value_counts()
        if team_counts.max() == 11:
            # Replace the lowest fantasy point player with the highest fantasy point player from the other team
            other_team = [team for team in match_group["team_name"].unique() if team not in team_counts.index][0]
            lowest_fantasy_player = min(selected_players, key=lambda x: x["predicted_fantasy_points"])
            replacement_player = max(
                [p for p in players if p["team_name"] == other_team and p not in selected_players],
                key=lambda x: x["predicted_fantasy_points"]
            )
            selected_players.remove(lowest_fantasy_player)
            selected_players.append(replacement_player)

        # Step 4: Return selected players for the match
        return selected_players

    except Exception as e:
        print(f"Error in calculating dream team: {e}")
        return None

# Process the data for each match and generate the output
for match_id, match_group in odi_teams_data.groupby("match_id"):
    # Get the list of players in the match group as dictionaries
    players = match_group.to_dict(orient="records")
    
    # Calculate the predicted dream team for the match
    selected_players = calculate_predicted_dream_team(players, match_group)
    
    # If a valid team is formed (i.e., 11 players selected), extract the relevant data
    if selected_players and len(selected_players) == 11:
        output_row = [match_id]
        
        # Add player details to the output row
        for i in range(11):
            player = selected_players[i]
            output_row.append(player["player_id"])
            output_row.append(player["predicted_fantasy_points"])
        
        # Append the row to the output data
        output_data.append(output_row)

# Create a DataFrame from the output data
output_df = pd.DataFrame(output_data, columns=output_columns)

# Save the output to a CSV file
output_df.to_csv(output_file, index=False)

print(f"Predicted dream teams saved to {output_file}")

Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'
Error in calculating dream team: 'team_name'